.gradient-text {
    font-weight: bold;
    background-image: linear-gradient(to right, #4F46E5, #4FC1E5, #82E5E1);
    /* background: linear-gradient(to left, #FFFF00 0%, #05C1FF 50%, #FFFF00 100%); */
    /* background: radial-gradient(circle farthest-corner at center center, #B8E1FC 0%, #231421 100%); */
  
    /* background: linear-gradient(to left, #008080 0%, #FFFFFF 25%, #05C1FF 50%, #FFFFFF 75%, #005757 100%); */
    /* background: linear-gradient(to right, #CFE7fA 0%, #6393C1 100%); */
  
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }